@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GmarketSansMedium';
    list-style: none;
}

html, body{
    width: 100%;
    height: 100%;
}
header{
    height: 80px;
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    height: 700px;
}
.contents{
    width: 70%;
    border: 0.5px solid #000;
    box-shadow: 10px 5px 20px #555;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px 50px;
}
.img-notice-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#item-name{
    width: 200px;
}
.img{
    background-color: #aaa;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
#preview{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.notice{
    display: inline-block;
    width: 500px;
}
.notice-content{
    color: #aaa;
}
.tag-price-container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.price-content{
    width: 500px;
}
#item-description{
    width: 100%;
    height: 160px;
}
.button{
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
}