*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html, body{
    width: 100%;
    height: 100%;
}
header{
    height: 80px;
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
}
.contents{
    width: 70%;
    border: 3px solid #000;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}
.img-notice-container{
    display: flex;
    justify-content: space-between;
}
#item-name{
    width: 200px;
}
.img{
    background-color: #aaa;
    width: 200px;
    height: 200px;
}
#preview{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.notice{
    display: inline-block;
    width: 500px;
}
.notice-content{
    color: #aaa;
}
.tag-price-container{
    display: flex;
    justify-content: space-between;
}
.price-content{
    width: 500px;
}
#description{
    width: 100%;
    height: 200px;
}
.button{
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    height: 30px;
    margin-top: 10px;
}